:host {
  ::ng-deep {
    .ui-tree {
      border: none;
      padding: 0;
      margin: 16px 0;

      .ui-tree-container {
        .ui-treenode {
          .ui-treenode-content:focus {
            box-shadow: none;
          }
        }
      }
    }
    .display-none {
      display: none;
    }
  }
}
