:host {
  ::ng-deep {
    .ui-tree {
      border: none;
      padding: 0;
      margin: 16px 0;
      width: inherit;

      .ui-tree-container {
        .ui-treenode {
          .ui-treenode-content {
            &:focus {
              box-shadow: none;
            }
            .ui-treenode-label.ui-state-highlight {
              background-color: var(--bmarker-primary-color);
            }
          }
        }
      }
    }
    .display-none {
      display: none;
    }
  }
}
