.show-bmarks {
  margin: 16px;
  // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  //   rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  #folders {
    margin: 0 16px;
    #folder-container {
      margin: 16px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .bmk-folder {
        display: inline-flex;
        align-items: center;
        margin: 0 16px 16px 0;
        width: 180px;
        height: 56px;
        background: #fff;
        border: 1px solid #bbc0c6;
        border-radius: 10px;
        cursor: pointer;
        i.pi.pi-folder {
          margin: 14px;
        }
      }
    }
  }

  #links {
    margin: 0 16px;
    #links-container {
      margin: 16px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .url-card {
        text-decoration: none;
        height: 100px;
        width: 250px;
        margin: 16px 16px 16px 0;
        border-radius: 6px;
        padding: 16px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        cursor: pointer;
        #header,
        #url-address {
          width: -webkit-fill-available;
          margin-bottom: 16px;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis !important;
        }
      }
    }
  }

  h2 {
    color: var(--bmarker-secondary-color);
  }
  .empty-text {
    font-size: 14px;
    color: var(--bmarker-secondary-color);
  }
}
