<div class="show-bmarks">
  <div id="folders">
    <h2>Folders</h2>
    <div id="folder-container">
      <ng-container *ngFor="let folder of folders">
        <!-- <p-button
          label="{{ folder.label }}"
          icon="pi pi-folder"
          iconPos="left"
          class="folder-box"
          (click)="navigateFolder(folder)"
        ></p-button> -->

        <button class="bmk-folder" (click)="navigateFolder(folder)">
          <i class="pi pi-folder"></i>
          <span>{{ folder.label }}</span>
        </button>
      </ng-container>
      <div *ngIf="!folders || folders.length === 0" class="empty-text">
        No Folders Found
      </div>
    </div>
  </div>

  <div id="links">
    <h2>Links</h2>
    <div id="links-container">
      <ng-container *ngFor="let link of links">
        <div class="url-card" (click)="goToLink(link.data)">
          <div id="header">
            {{ link.label }}
          </div>
          <div id="url-address">
            {{ link.data }}
          </div>
        </div>
      </ng-container>
      <div *ngIf="!links || links.length === 0" class="empty-text">
        No Bookmarks added
      </div>
    </div>
  </div>
</div>
