<div class="signin">
  <div id="signin-context">
    <h2>SIGN IN</h2>
    <p>to view your organized bookmarks</p>
  </div>
  <div id="signin-form">
    <div class="ui-fluid">
      <div class="p-field p-col-12 p-md-5">
        <label for="email">Email</label>
        <input id="email" type="email" pInputText />
      </div>
      <div class="p-field p-col-12 p-md-5">
        <label for="password">Password</label>
        <input id="password" type="password" pInputText />
      </div>
    </div>
    <div class="signin-btn">
      <button
        pButton
        type="button"
        label="Sign In"
        class="ui-button-raised"
      ></button>
    </div>
  </div>
</div>
